In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the Google API key.
from config import g_key

In [2]:
# Store the CSV you created and saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Severo-Kurilsk,RU,2020-10-23 17:59:50,50.68,156.12,45.32,82,100,24.00
1,1,Port Alfred,ZA,2020-10-23 17:59:52,-33.59,26.89,73.08,77,71,3.74
2,2,Ushuaia,AR,2020-10-23 17:59:52,-54.80,-68.30,48.20,57,40,4.70
3,3,Rikitea,PF,2020-10-23 17:59:52,-23.12,-134.97,73.90,78,41,4.90
4,4,North Bend,US,2020-10-23 17:59:52,43.41,-124.22,54.00,87,1,8.05

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.80)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.80)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.80)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.80)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Hithadhoo,MV,2020-10-23 17:59:53,-0.60,73.08,82.72,77,6,11.99
9,9,Bubaque,GW,2020-10-23 17:59:54,11.28,-15.83,85.46,71,20,10.38
11,11,Arraial Do Cabo,BR,2020-10-23 17:59:54,-22.97,-42.03,78.80,61,0,17.22
12,12,Daru,PG,2020-10-23 17:59:55,-9.08,143.21,78.62,83,44,9.37
14,14,Faanui,PF,2020-10-23 17:59:56,-16.48,-151.75,78.62,76,67,10.85
15,15,Nhulunbuy,AU,2020-10-23 17:59:56,-12.23,136.77,78.80,83,40,6.93
42,42,Catia La Mar,VE,2020-10-23 18:00:08,10.60,-67.03,82.00,65,74,11.41
52,52,Butaritari,KI,2020-10-23 18:00:15,3.07,172.79,81.59,75,93,12.97
53,53,Georgetown,MY,2020-10-23 18:00:15,5.41,100.34,80.60,83,20,3.36
54,54,Puerto Ayora,EC,2020-10-23 18:00:16,-0.74,-90.35,77.00,73,75,19.46

In [12]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
5         Hithadhoo      MV     82.72  -0.60   73.08
9           Bubaque      GW     85.46  11.28  -15.83
11  Arraial Do Cabo      BR     78.80 -22.97  -42.03
12             Daru      PG     78.62  -9.08  143.21
14           Faanui      PF     78.62 -16.48 -151.75
15        Nhulunbuy      AU     78.80 -12.23  136.77
42     Catia La Mar      VE     82.00  10.60  -67.03
52       Butaritari      KI     81.59   3.07  172.79
53       Georgetown      MY     80.60   5.41  100.34
54     Puerto Ayora      EC     77.00  -0.74  -90.35

In [14]:
# Set parameters to search for a hotel.
params = {"radius": 5000, 
          "type": "lodging",
          "key": g_key}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Hithadhoo,MV,82.72,-0.60,73.08,Scoop Guest House
9,Bubaque,GW,85.46,11.28,-15.83,"Casa Dora, Bubaque"
11,Arraial Do Cabo,BR,78.80,-22.97,-42.03,Pousada Porto Praia
12,Daru,PG,78.62,-9.08,143.21,New century hotel
14,Faanui,PF,78.62,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
15,Nhulunbuy,AU,78.80,-12.23,136.77,East Arnhem Real Estate
42,Catia La Mar,VE,82.00,10.60,-67.03,HOTEL PLAYA GRANDE CARIBE
52,Butaritari,KI,81.59,3.07,172.79,Isles Sunset Lodge
53,Georgetown,MY,80.60,5.41,100.34,Cititel Penang
54,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.80)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.80)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))