## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kalmunai,LK,7.42,81.82,79.57,75,100,0.34,overcast clouds
1,1,Kalemie,CD,-5.95,29.19,72.28,67,100,6.35,overcast clouds
2,2,Nikolskoye,RU,59.70,30.79,39.20,86,75,2.24,light intensity shower rain
3,3,Faya,SA,18.39,42.45,59.00,22,0,2.28,clear sky
4,4,Bima,ID,-8.47,118.72,88.56,61,10,2.82,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kalmunai,LK,7.42,81.82,79.57,75,100,0.34,overcast clouds
4,4,Bima,ID,-8.47,118.72,88.56,61,10,2.82,clear sky
5,5,Kudahuvadhoo,MV,2.67,72.89,82.17,79,47,10.98,scattered clouds
6,6,Hilo,US,19.73,-155.09,86.00,62,75,14.99,broken clouds
7,7,Fonte Boa,BR,-2.50,-66.27,75.31,92,62,1.92,broken clouds
8,8,Kapaa,US,22.08,-159.32,84.99,74,40,17.22,scattered clouds
11,11,Kattivakkam,IN,13.22,80.32,80.60,94,75,5.30,mist
15,15,Diamantino,BR,-14.41,-56.45,76.64,76,100,5.21,light rain
33,33,Atuona,PF,-9.80,-139.03,78.62,75,55,19.84,broken clouds
34,34,Marsh Harbour,BS,26.54,-77.06,80.44,78,92,11.79,moderate rain

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                189
City                   189
Country                188
Lat                    189
Lng                    189
Max Temp               189
Humidity               189
Cloudiness             189
Wind Speed             189
Current Description    189
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                            (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kalmunai,LK,7.42,81.82,79.57,75,100,0.34,overcast clouds
4,4,Bima,ID,-8.47,118.72,88.56,61,10,2.82,clear sky
5,5,Kudahuvadhoo,MV,2.67,72.89,82.17,79,47,10.98,scattered clouds
6,6,Hilo,US,19.73,-155.09,86.00,62,75,14.99,broken clouds
7,7,Fonte Boa,BR,-2.50,-66.27,75.31,92,62,1.92,broken clouds
8,8,Kapaa,US,22.08,-159.32,84.99,74,40,17.22,scattered clouds
11,11,Kattivakkam,IN,13.22,80.32,80.60,94,75,5.30,mist
15,15,Diamantino,BR,-14.41,-56.45,76.64,76,100,5.21,light rain
33,33,Atuona,PF,-9.80,-139.03,78.62,75,55,19.84,broken clouds
34,34,Marsh Harbour,BS,26.54,-77.06,80.44,78,92,11.79,moderate rain

In [31]:
clean_df.count()

City_ID                188
City                   188
Country                188
Lat                    188
Lng                    188
Max Temp               188
Humidity               188
Cloudiness             188
Wind Speed             188
Current Description    188
dtype: int64

In [32]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kalmunai,LK,79.57,overcast clouds,7.42,81.82,
4,Bima,ID,88.56,clear sky,-8.47,118.72,
5,Kudahuvadhoo,MV,82.17,scattered clouds,2.67,72.89,
6,Hilo,US,86.00,broken clouds,19.73,-155.09,
7,Fonte Boa,BR,75.31,broken clouds,-2.50,-66.27,
8,Kapaa,US,84.99,scattered clouds,22.08,-159.32,
11,Kattivakkam,IN,80.60,mist,13.22,80.32,
15,Diamantino,BR,76.64,light rain,-14.41,-56.45,
33,Atuona,PF,78.62,broken clouds,-9.80,-139.03,
34,Marsh Harbour,BS,80.44,moderate rain,26.54,-77.06,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {"radius": 5000,
          "type": "lodging",
          "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kalmunai,LK,79.57,overcast clouds,7.42,81.82,VS Villa
4,Bima,ID,88.56,clear sky,-8.47,118.72,Lambitu Hotel
5,Kudahuvadhoo,MV,82.17,scattered clouds,2.67,72.89,Kudahuvadhoo Retreat
6,Hilo,US,86.00,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
7,Fonte Boa,BR,75.31,broken clouds,-2.50,-66.27,
...,...,...,...,...,...,...,...
689,Vung Tau,VN,80.51,light rain,10.35,107.08,Seaside Resort
691,Moranbah,AU,89.62,clear sky,-22.00,148.05,Direct Hotels - Monterey Moranbah
697,Celestun,MX,80.78,scattered clouds,20.87,-90.40,Posada Lilia
698,Dzaoudzi,YT,78.80,scattered clouds,-12.79,45.27,Le Rocher
699,Ballina,AU,82.40,clear sky,-28.87,153.57,Ramada Hotel & Suites by Wyndham Ballina Byron

In [35]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "")].dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kalmunai,LK,79.57,overcast clouds,7.42,81.82,VS Villa
4,Bima,ID,88.56,clear sky,-8.47,118.72,Lambitu Hotel
5,Kudahuvadhoo,MV,82.17,scattered clouds,2.67,72.89,Kudahuvadhoo Retreat
6,Hilo,US,86.00,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
8,Kapaa,US,84.99,scattered clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...,...
689,Vung Tau,VN,80.51,light rain,10.35,107.08,Seaside Resort
691,Moranbah,AU,89.62,clear sky,-22.00,148.05,Direct Hotels - Monterey Moranbah
697,Celestun,MX,80.78,scattered clouds,20.87,-90.40,Posada Lilia
698,Dzaoudzi,YT,78.80,scattered clouds,-12.79,45.27,Le Rocher
699,Ballina,AU,82.40,clear sky,-28.87,153.57,Ramada Hotel & Suites by Wyndham Ballina Byron

In [46]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [47]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.80)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))